@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-col1 : #060606;
  --color-col2 : #E9DBC2;
  --color-text2 : #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.secondary-bg{
  background-color: #E9DBC2;
}

.bg-main{
  background-color: #0D0D0D;
}